.DS_Store
node_modules
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.firebaserc
.firebase
_src/firebase-config.js
public/firebase-messaging-sw.js
functions/client_id.json
functions/token.json
firebase-debug.log
_src/config.js
/dist/
/ui-debug.log
/pubsub-debug.log
/firestore-debug.log
